@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Patrick+Hand&display=swap');

*{
  box-sizing: border-box;
}
body {
  background-color: #EABFCB;
}
h1 {
  text-align: center;
  color: #2F004F;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 30px;
}
h2 {
  text-align: center;
  color:#2F004F;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  margin: 0;
}
.main-container {
  display: flex;
}
.banner-container {
  width: 300px; 
  border-radius: 50px;
  background-color: #A4508B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin: 10px;
}
.seccion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 20px #2f004f4b;
  padding: 0 20px;
}
.button-container {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;;
  background-color: #C191A1;
  border-radius: 15px;
}
.button-container:hover {
  background-color: #5F0A87;
  color: white;
  cursor: pointer;
}
.images-choco {
  padding: 20px;
  border-radius: 80px;
}
.image-button {
  width: 35px;
}
.wishlist-container {
  background-color: #C191A1;
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.wishlist-container-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f004fba;
}
.button-wishlist {
  width: 80px;
  height: 100px;
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 999;
  font-family:  'Patrick Hand', cursive;
  font-size: 20px;
  background-color: #2f004f37;
  border-radius: 20px;
  cursor: pointer;
}
.wishlist-closed {
  display: none;
}
.wishlist-container-modal .wishlist-container .banner-container {
  width: 100px;
  margin-top: 120px;
  height: 100px;
}
.wishlist-container-modal .wishlist-container .images-choco {
  width: 100px;
  position: relative;
  right: 0;
  top: 0;
  margin-top: 0;
}
.wishlist-container-modal .wishlist-container .button-container {
  width: 100px;
  height: 28px;  
}
.wishlist-container-modal .wishlist-container h2 {
  font-size: 25px;
}

@media (max-width: 700px) {
  .button-wishlist{
    width: 50px;
    height: 70px;
    font-size: 0px;
    right: 0;
  }
}